/* CSS Document */
html {
  font: 100% / 250% "Helvetica";
}

h1 {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 50px;
  background: red;
  margin: auto;
  width: 250px;
  height: 80px;
}

h2 {
  font-size: 15px;
}

body {
  color: white;
  font-size: 1.25em;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/background.png);
  align-items: center;
  justify-content: center;
}

header {
  text-align: center;
  justify-content: center;
  margin-bottom: 66px;
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  color: white;
}

main ul li {
  list-style: none;
  padding: 10px;
}

footer {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 20px;
  color: white;
}

footer ul {
  display: flex;
}

footer ul li {
  padding: 0 10px;
  list-style: none;
}

.socialmediasize {}
